Assets/Scripts/Scanner/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

  <xs:element name="Models">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="Model" maxOccurs="unbounded">        
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Obj" type="xs:string"/>
              <xs:element name="Mtl" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required" />
          </xs:complexType>
        </xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>